<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img class="br" src="https://storage.googleapis.com/oowambe-planner/assets/Oowambe_icon_rgb_300dpi.png">
      </a>

      <!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a> -->
    </div>

    <div id="navbarBasicExample" class="navbar-menu">

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="is-primary">
              DiSc Jockie lite
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


<main class="section" *ngIf="(appState$ | async) as state">
  <section class="container">

    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h1 class="title">{{state.name}}</h1>
        <div class="columns">
            <div class="column is-5 is-offset-7">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" (keyup)="search($event.target.value)" type="search" placeholder="Search">
                    <span class="icon is-small is-left">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>
            </div>
        </div>
        

        <div class="columns is-multiline is-mobile">
          <div *ngFor="let item of displayItems$ | async"
            class="column swing-in-top-fwd is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
            <div class="notification p-0">
              <span class="icon abs has-text-light" (click)="showPlayList(item)">
                <i class="far fa-play-circle fa-4x"></i>
              </span>
              <img class="art" [src]="item.artwork" [alt]="name">
              <p>{{item.name}}</p>
              <!-- <p class="help">@{{item.curator_name}}</p> -->
            </div>

          </div>
        </div>

        <nav class="pagination is-small" role="navigation" aria-label="pagination">
          <a class="pagination-previous" *ngIf="currentPage" (click)="previous()">Previous</a>
          <a class="pagination-next" (click)="next()" *ngIf="content?.length && content?.length > itemsPerPage">Next</a>

          <ul class="pagination-list">
            <li *ngFor="let page of (pages$ | async)" (click)="goToPage(page)"><a [class.is-current]="page - 1 === currentPage" class="pagination-link">{{page}}</a></li>
          </ul>
        </nav>



      </div>

    </div>
  </section>
</main>